*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #EEF1F6;
}
header{
	width: 900px;
	margin: 0 auto;
	margin-top: 50px;
}
#headerimg img{
	width: 400px;
}
#imgtwo{
	width: 900px;
}
#rightbox li,#rightboxtwo li,{
	font-size: 12px;
}
header ul li{
	font-size: 12px;
	margin-left:50px;
	display: inline-block;
	list-style: none;
}

header ul li:nth-child(7){
	line-height:30px ;
	text-align: center;
	width: 100px;
	height: 30px;
}

.head ul li a{
	color: #FFFFFF;
	text-decoration: none;
}
.head ul li a:hover{
	text-decoration: underline;
	font-size: 20px;
}
.head div{
	display: inline-block;
}
header .head{
	position: relative;
	top:-350px;
}
header ul{
	position:relative;
	top: 150px;
}
.sect1{
	background-color: #FFF;
	line-height:45px ;
	padding: 60px 100px;
	position: relative;
	height: 300px;
	width: 700px;
	margin: 0 auto;
}
.sect1 .section1 dt{
	font-size: 30px;
	font-weight: bold;
}
.section1 div:nth-child(2){
	position: absolute;
	top:60px;
	right:150px;
}
.section1 div:nth-child(4){
	position: absolute;
	top:220px;
	right:150px;
}
.section1 a{
	text-decoration: none;
	color: #606266;
}
.sangehezi div{
	line-height: 40px;
	display: inline-block;
}
.sangehezi{
	margin: 0 auto;
	width: 900px;
	height:600px ;
	margin-top: 60px;
	margin-bottom: 60px;
	position:relative;
}
.sect2{
	position: relative;
	background-color: #FFF;
	width: 560px;
	height: 600px;
	border:1px soild red;
	padding: 0px 30px;
} 
.sect2 h4{
	line-height:50px;
	text-align: center;
}

.tupiang2{
	text-align: center;
	color: #fff;
	margin-top:150px;
	margin-left:225px;
	width: 120px;
	height: 40px;
	background-color:#3A8EE6;
}
.tp{
	text-align: center;
	margin-top:150px;
	margin-left:300px;
	width: 120px;
	height: 37px;
	border: 1px solid red;
}
.tp a{
	text-decoration: none;
	color: #000000;
}
.tp a:hover{
	color: #fff;
}
.tp:hover{
	background-color: #1A35AD;
}
.tupiang2 a{
	text-decoration: none;
	color: #fff;
}
.tupiang2:hover{
	background-color: #1A35AD;
}
.sect2 p{
	line-height:40px;
	text-align: center;
	margin-right: 20px;
}
.sect3{
	position:absolute;
	right: 0px;
	background-color: #FFF;
	width: 255px;
	height: 280px;

} 
.sect4{
	position:absolute;
	bottom:0;
	right: 0px;
	background-color: #FFF;
	width: 255px;
	height: 270px;
} 
.tupian{
	display: inline-block;
}
.tupian img{
	margin: 10px;
}
.tupian dt{
	color: #000000;
	font-size: 20px;
}
.tupian dd{
	color: #606266;
}
.tupian dl div{
	margin: 6px;
}
.tupian dl{
	
	position: absolute;
	bottom: 120px;
}
.
.sect3 .section1{
	font-size: 15px;
	position: absolute;
	right: 0px;
}
.sect3 a:hover{
	font-size: 20px;
	color: #0000FF;
}
.sect3 li{
	list-style: none;
	text-align: center;
	font-size: 13px;
}
.sect3 p{
	font-size: 18px;
}
.sect3 .shuzi{
	color:red;
}
.sect4 ul{
	padding-left:15px;
}
.sect4 .chakan{
	font-size: 15px;
}
.sect4 span{
	position: absolute;
	right:30px;
	color: #A6A9AD;
}
.sect4 ul li{
	list-style: none;
}
.sect4 a:hover{
	font-size: 20px;
	color: #0000FF;
}
.sect6{
	
	width: 1200px;
	height:600px;
	margin: 0 auto;
	background-color: #FFFFFF;
	position: relative;
}
.nanse{
	color: #FFF;
	width: 1200px;
	height:400px;
	background-color: #2B4AC8;
}
.nanse h2{
	line-height: 50px;
	text-align: center;
}
.nanse p{
	line-height: 40px;
	text-align: center;
}
.box1 div{
	background-color: #fff;
	box-shadow:5px 5px 20px #2463EE ;
	margin-left: 50px;
	display: inline-block;
	width:300px;
	height:300px;
	text-align: center;
	line-height: 35px;
}
.box1{
	position: absolute;
	bottom: 100px;
	padding-left: 30px;
	padding-top: 100px;
}
.box1 div:nth-child(1):hover{
	transform:translate(0,-10px);
}
.box1 div:nth-child(2):hover{
	transform:translate(0,-10px);
}
.box1 div:nth-child(3):hover{
	transform:translate(0,-10px);
}
.box1 div:nth-child(4):hover{
	transform:translate(0,-10px);
}
.sect7{
	width: 1200px;
	height: 420px;
	background-color: #FFFF;
	margin: 0 auto;
}
.sect7{
	
	margin-top: 50px;
}
.sect7 ul{
	list-style: none;
	line-height:45px;
	display: inline-block;
}
.w{
	
	list-style: none;
	line-height: 45px;
	margin-left:700px;
	margin-top:-310px;
}
.w a{
	text-decoration: none;
	color: #000000;
}
.w a:hover{
	color: #1E34AD;
	text-decoration: underline;
}
.one{
	margin-left: 150px;
}
.sect7 h2{
	padding-left: 500px;
	line-height: 100px;
}
.sect7 ul li a{
	color: #000000;
	text-decoration: none;
	list-style: none;
}
.one a:hover{
	color: #1E34AD;
	text-decoration: underline;
}
footer{
	margin: 0 auto;
}
footer div{
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
	color:#fff;
	height: 60px;
	background-color:#0B1631 ;
	text-align: center;
	line-height: 60px;
}