*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #EEF1F6;
}
.dlu{
	text-decoration: none;
	color: #fff;
}
header {
	margin: 0 auto;
	width: 1280px;
}
.yibao{
	color: #fff;
	text-decoration: none;
}
.daohan {
	width: 1280px;
	height: 60px;
	background-color: #005BAC;
	margin: 0 auto;
	position: relative;
}

.daohan .daohanglang {
	padding-top: 15px;
	margin-left: 80px;
	color: #fff;
	font-size: 18px;
	display: inline-block;
}
.section-hangye {
	width: 80px;
	font-size: 18px;
	background-color: #005BAC;
	text-align: center;
	line-height: 30px;
	display: inline-block;
	position: absolute;
	right: 400px;
	top: 13px;
}
.section-hangye #hangye a {
	color: #FFFFFF;
	text-decoration: none;
}
.hangye_con {
	background: linear-gradient(to top, #0796E9, #fff, #fff, #fff, #fff, #fff, #fff, #fff);
	display: none;
	font-size: 15px;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 8px 10px;
	text-align: left;
}
.hangye_con p a {
	color: black;
	text-decoration: none;
}
.section-hangye:hover .hangye_con {
	display: block;
}
.section-zhongxin {
	width: 80px;
	font-size: 18px;
	background-color: #005BAC;
	text-align: center;
	line-height: 30px;
	display: inline-block;
	position: absolute;
	right: 250px;
	top: 13px;
}

.section-zhongxin #zhongxin a {
	color: #FFFFFF;
	text-decoration: none;
}

.zhongxin_con {
	font-size: 15px;
	display: none;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 8px 10px;
	text-align: left;
	background: linear-gradient(to top, #0796E9, #fff, #fff, #fff, #fff, #fff, #fff, #fff);
}

.zhongxin_con p a {
	color: black;
	text-decoration: none;
}

.section-zhongxin:hover .zhongxin_con {
	display: block;
}




.section-anli {
	width: 80px;
	font-size: 18px;
	background-color: #005BAC;
	text-align: center;
	line-height: 30px;
	display: inline-block;
	position: absolute;
	right: 100px;
	top: 13px;
}

.section-anli #anli a {
	color: #FFFFFF;
	text-decoration: none;
}

.anli_con {
	background: linear-gradient(to top, #0796E9, #fff, #fff, #fff, #fff, #fff, #fff, #fff);
	display: none;
	font-size: 15px;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 8px 10px;
	text-align: left;
}

.anli_con p a {
	color: black;
	text-decoration: none;
}

.section-anli:hover .anli_con {
	display: block;
}

.sect{
	background-color: #FFF;
	line-height:45px ;
	padding: 60px 100px;
	position: relative;
	height: 300px;
	width: 1000px;
	margin: 0 auto;
}
.sect .section dt{
	font-size: 30px;
	font-weight: bold;
}
.section div:nth-child(2){
	position: absolute;
	top:60px;
	right:150px;
}
.section div:nth-child(4){
	position: absolute;
	top:220px;
	right:150px;
}
.section a{
	text-decoration: none;
	color: #606266;
}
.sangehezi div{
	line-height: 40px;
	display: inline-block;
}
.sangehezi{
	margin: 0 auto;
	width: 1280px;
	height:600px ;
	padding:0px 100px;
	margin-top: 60px;
	margin-bottom: 60px;
	position:relative;
}
.equities{
	position: relative;
	left: 45px;
	background-color: #FFF;
	width: 800px;
	height: 600px;
	border:1px soild red;
	padding: 0px 30px;
} 
.equities h4{
	line-height:50px;
	text-align: center;
}

.tupiang2{
	text-align: center;
	color: #fff;
	margin-top:150px;
	margin-left:100px;
	width: 120px;
	height: 40px;
	background-color:#3A8EE6;
}
.tp{
	text-align: center;
	margin-top:150px;
	margin-left:300px;
	width: 120px;
	height: 37px;
	border: 1px solid red;
}
.tp a{
	text-decoration: none;
	color: #000000;
}
.tp a:hover{
	color: #fff;
}
.tp:hover{
	background-color: #1A35AD;
}
.tupiang2 a{
	text-decoration: none;
	color: #fff;
}
.tupiang2:hover{
	background-color: #1A35AD;
}
.equities p{
	line-height:50px;
	text-align: center;
}
.security{
	position:absolute;
	right: 135px;
	background-color: #FFF;
	width: 300px;
	height: 280px;
	border:1px soild red;
} 
.fraud{
	position:absolute;
	bottom:0;
	right: 135px;
	background-color: #FFF;
	width: 300px;
	height: 280px;
} 
.tupian{
	display: inline-block;
}
.tupian img{
	margin: 43px;
}
.tupian dt{
	color: #000000;
	font-size: 20px;
}
.tupian dd{
	color: #606266;
}
.tupian dl div{
	margin: 33px;
}
.tupian dl{
	
	position: absolute;
	bottom: 120px;
}

.security .section1{
	font-size: 15px;
	position: absolute;
	right: 0px;
}
.security a:hover{
	font-size: 20px;
	color: #0000FF;
}
.security li{
	list-style: none;
	text-align: center;
	font-size: 13px;
}
.security p{
	font-size: 18px;
}
.security .shuzi{
	color:red;
}
.fraud ul{
	padding-left:15px;
}
.fraud .chakan{
	font-size: 15px;
}
.fraud span{
	position: absolute;
	right:30px;
	color: #A6A9AD;
}
.fraud ul li{
	list-style: none;
}
.fraud a:hover{
	font-size: 20px;
	color: #0000FF;
}
.case1{
	
	width: 1200px;
	height:600px;
	margin: 0 auto;
	background-color: #FFFFFF;
	position: relative;
}
.nanse{
	color: #FFF;
	width: 1200px;
	height:400px;
	background-color: #2B4AC8;
}
.nanse h2{
	line-height: 50px;
	text-align: center;
}
.nanse p{
	line-height: 40px;
	text-align: center;
}
.case div{
	background-color: #fff;
	box-shadow:5px 5px 20px #2463EE ;
	margin-left: 50px;
	display: inline-block;
	width:300px;
	height:300px;
	text-align: center;
	line-height: 35px;
}
.case{
	position: absolute;
	bottom: 100px;
	padding-left: 30px;
	padding-top: 100px;
}
.case div:nth-child(1):hover{
	transform:translate(0,-10px);
}
.case div:nth-child(2):hover{
	transform:translate(0,-10px);
}
.case div:nth-child(3):hover{
	transform:translate(0,-10px);
}
.case div:nth-child(4):hover{
	transform:translate(0,-10px);
}
.problem{
	width: 1200px;
	height: 420px;
	background-color: #FFFF;
	margin: 0 auto;
}
.problem{
	
	margin-top: 50px;
}
.problem ul{
	list-style: none;
	line-height:45px;
	display: inline-block;
}
.w{
	
	list-style: none;
	line-height: 45px;
	margin-left:700px;
	margin-top:-310px;
}
.w a{
	text-decoration: none;
	color: #000000;
}
.w a:hover{
	color: #1E34AD;
	text-decoration: underline;
}
.one{
	margin-left: 150px;
}
.problem h2{
	padding-left: 500px;
	line-height: 100px;
}
.problem ul li a{
	color: #000000;
	text-decoration: none;
	list-style: none;
}
.one a:hover{
	color: #1E34AD;
	text-decoration: underline;
}
.case div a{
	text-decoration: none;
}
.shaoma{
	border-radius: 50%;
	position: fixed;
	right: 100px;
	bottom: 200px;
}
.erweima{
	border-radius: 50%;
	position: fixed;
	top:20px;
	left:30px;
}
#erweima{
	position: fixed;
	bottom: 200px;
	right: 150px;
	display: none;

}
.erweima:hover #erweima{
	display:inline;
}
.shangming{
	border-radius: 50%;
	position: fixed;
	right: 100px;
	bottom: 130px;
}
#dingbu{
	position: fixed;
	bottom: 110px;
	right: 150px;
	display: none;
}
.dingbu:hover #dingbu{
	display:inline;
}
footer{
	margin: 0 auto;
}
footer div{
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
	color:#fff;
	height: 60px;
	background-color:#0B1631 ;
	text-align: center;
	line-height: 60px;
}