* {
	margin: 0;
	padding: 0;
}

header {
	width: 1280px;
	margin: 0 auto;
}

header ul li {
	font-size: 12px;
	margin-left: 87px;
	display: inline-block;
	list-style: none;
}

header ul li:nth-child(7) {
	line-height: 30px;
	text-align: center;
	width: 100px;
	height: 30px;
}

.head ul li a {
	color: #FFFFFF;
	text-decoration: none;
}

.head ul li a:hover {
	text-decoration: underline;
	font-size: 20px;
}

.head div {
	display: inline-block;
}

header .head {
	position: relative;
	top: -350px;
}

header ul {
	position: relative;
	top: 8px;
}

section {
	margin-top: -140px;
}

.navigation {
	margin: 0 auto;
	width: 1180px;
	height: 100px;
	padding: 50px;
}

.navigation div {
	display: inline-block;
	width: 170px;
	height: 50px;
	line-height: 50px;
	border-radius: 50px;
	text-align: center;
	border: 1px #00BFFF solid;
}

.last1 {
	background-color: #07AAFF;
}

.navigation img {
	position: relative;
	left: 20px;
	top: 10px;
}

.siderbar {
	padding: 50px;
	width: 1180px;
	height: 600px;
	margin: 0 auto;
	border: 1px blue solid;
	margin-top: -50px;
}

.siderbar li {
	line-height: 70px;
	font-size: 20px;
	list-style: none;
}

.siderbar li a {
	text-decoration: none;
	color: #000000;
}

#one {
	font-size: 20px;
	width: 900px;
	height: 600px;
	;
	border-left: 1px #575757 solid;
}

#one img,
span {
	vertical-align: middle;
}

#one p a {
	color: #000000;
	text-decoration: none;
}

#one p a:hover {
	color: #1A35AD;
	text-decoration: underline;
}

.siderbar div {
	display: inline-block;
}

#one {
	margin-left: 50px;
	position: relative;
	bottom: 500px;
}

.riqi {
	padding-left: 400px;
}

footer {
	margin: 0 auto;
}

footer div {
	width: 1280px;
	margin: 0 auto;
	margin-top: 20px;
	color: #fff;
	height: 60px;
	background-color: #0B1631;
	text-align: center;
	line-height: 60px;
}
