* {
	margin: 0;
	padding: 0;
}
.daohang {
	margin-left: 325px;
}
header {
	width: 1280px;
	height: 150px;
	line-height: 150px;
	margin: 0 auto;
}

header img {
	padding-left: 48px;
}
img,
.daohang {
	vertical-align: middle;
}
header ul li {
	margin-left: 50px;
	list-style: none;
	display: inline-block;
}
header ul li a {
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
header a:hover {
	text-decoration: underline;
	color: #007AFF;
	font-size: 30px;
}
header div {
	display: inline-block;
}
.toubu {
	margin: 0 auto;
	background-color: #fff;
	position: fixed;
	z-index: 1;
}

ol {
	font-size: 30px;
	color: #303133;
	line-height: 70px;
}

section {
	width: 1280px;
	height: 4500px;
	margin: 0 auto;
	position: relative;
}

.guangxing {
	padding-left: 40px;
	background-color: #F8F8F8;
	width: 500px;
	position: absolute;
	bottom: 100px;
	left: 0;
}

.huida {
	position: absolute;
	left: 550px;
	bottom: 250px;
	line-height: 100px;
	font-weight: bold;
}

.guangxing .beij {
	background-color: red;
}

.tiweng {
	font-size: 30px;
	color: #303133;
	line-height: 70px;
	position: absolute;
	left: 0px;
	bottom: 20px;
}

ol li a {
	text-decoration: none;
	color: #303133;
}

ol li a:hover {
	text-decoration: underline;
	color: #0000FF;
}

.chakang a {
	position: absolute;
	top: 500px;
	right: 300px;
	font-size: 30px;
	color: #1A35AD;
	text-decoration: none;
}

.shiyongsq {
	width: 1280px;
}

form {
	font-size: 40px;
	line-height: 100px;
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
}

#container {
	width: 1280px;
	height: 400px;
	overflow: hidden;
}

#photo {
	width: 3840px;
	animation: switch 5s ease-out infinite;
}

#photo>img {
	float: left;
	width: 1280px;
	height: 400px;
}

@keyframes switch {

	0%,
	25% {
		margin-left: 0;
	}

	35%,
	60% {
		margin-left: -1280px;
	}

	70%,
	100% {
		margin-left: -2560px;
	}
}

.tree {
	line-height: 50px;
}

.yemiang {
	position: relative;
	width: 1280px;
	height: 400px;
	text-align: center;
	background: linear-gradient(to left, #fff, #61ADFC, #fff);
	color: #2C6EFF;
}

.guangjia,
.hengzhi4 {
	font-size: 50px;
	color: #fff;
}

.dongyi {
	font-size: 30px;
	color: #fff;
	font-weight: lighter;
	position: absolute;
	bottom: 120px;
	left: 520px;
}

.zhimu {
	color: rgba(38, 128, 247, 0.4);
	font-size: 30px;
}

.zhengshuo{
	position: absolute;
	bottom: 50px;
	left: 500px;
}

.yemiang div {
	width: 150px;
	height: 50px;
	line-height: 50px;
	border-radius: 50px;
	background-color: #fff;
	position: absolute;
	bottom: 200px;
	left: 150px;
}

.cebianl {
	width: 70px;
	height: 220px;
	position: fixed;
	bottom: 30px;
	right: 50px;
	background-color: #B3D8FF;
}

.cebianl div {
	margin: 0 auto;
	width: 50px;
	height: 50px;
	margin-top: 4px;
}

.cebianl img {
	width: 50px;
	height: 50px;
	background-color: #000000;
}

.cebianl div:hover {
	border: 1px red solid;
}

footer {
	background-color: #F8F8F8;
}

.fater {
	width: 1280px;
	height: 250px;
	line-height: 30px;
	margin: 0px auto;
	text-align: center;
	position: relative;
	top: 51px;
}

.baozhang,
.baobiao {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	padding-left: 5px;
}

.youxiaoqi,
.shengqing {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	padding-left: 5px;
}

.anquangx,
.xujia {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	padding-left: 5px;
}

.denglu,
.huhang {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	padding-left: 5px;
}

.writing1 {
	font-size: 20px;
	font-weight: bold;
}

.writing1:hover {
	color: deepskyblue;
}

.footer5 {
	display: inline-block;
	text-align: center;
	padding-left: 25px;
	font-size: 17px;
}

.footer5 a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.Son {
	margin-top: 25px;
}

.writing2 {
	padding-left: 30px;
}

.footer5 a:hover {
	color: deepskyblue;
}

.Alt {
	text-decoration: none;
	color: black;
}
