		#zsm{
			border: #000000 0px solid;
			width: 1280px;
			margin: 0px auto;
		}
		.zsm{
			border: #000000 0px solid;
			width: 1180px;
			margin: 0px auto;
			
		}
		main{
			width: 1070px;
			margin: 0 auto;
			padding-top: 20px;
			}
			.record-table{
			table-layout: fixed;
			border-collapse: collapse;
			border: solid 1px #D9E3EF;
			width: 100%;
			}
			.a tr{
				padding: 0;
				margin: 0;
				border: 0;
				outline: 0;
				font-weight: inherit;
				font-style: inherit;
				font-family: inherit;
				font-size: 100%;
				vertical-align: baseline;
			}
			.record-table th {
			    background: #E4EFF9;
			    height: 49px;
			}
			.record-table th, .record-table td {
			    padding: 0 20px;
			}
			caption, th, td {
			    text-align: left;
			    font-weight: normal;
			    vertical-align: middle;
				margin: 0;
				border: 0;
				outline: 0;
				font-style: inherit;
				font-family: inherit;
				font-size: 100%;
				display: table-cell;
			}
			.result-op{
				display: block;
				    padding: 0;
				    margin: 0;
				    border: 0;
				    outline: 0;
					vertical-align: baseline;
			}
			body {
			    font: 12px 'Microsoft Yahei',Arial,sans-serif;
			    color: #666;
			}
			html {
			    font-size: 100%;
			}
			.record .record-disabled {
			    cursor: default;
			}
			.record .record-prev, .record .record-next {
			    width: 50px;
			    background: #6fb1dc;
			    color: #fff;
			}
			.record a {
			    float: left;
			    margin: 3px;
			    text-decoration: none;
			    border: 1px solid #6fb1dc;
			    overflow: hidden;
			    width: 26px;
			    height: 25px;
			    color: #6fb1dc;
			    font: normal 12px/25px Arial,Helvetica,sans-serif;
			    text-align: center;
			}
			.ef{
				text-align: center;
				padding-top: 100px;
			}
			.layout-wrapper{
				text-align: center;
				padding-top: 100px;
				padding-right: 450px;
			}
			.hzj{
				text-align: center;
			}