*{
	margin: 0;
	padding: 0;
}
header{
	width: 1280px;
	height: 100px;
	margin:0px auto;
}
.guangjia,.daohang{
	display: inline-block;
	vertical-align: middle;
}
header p{
	width: 70px;
	height: 35px;
	background-color: #1277F3;
}
header li{
	display: inline-block;
}
header ul a{
	text-decoration: none;
	color: #000000;
	padding-left:50px;
}
header ul a:hover{
	text-decoration: underline;
	color: #1277F3;
}
.daohang{
	padding-left:500px;
}
header p a{
	text-decoration: none;
}
header p{
	margin-left:1150px;
	margin-top: -60px;
	width:80px;
	height:30px;
	line-height:30px;
	background-color: #3A8EE6;
}