* {
	margin: 0;
	padding: 0;
}

header {
	width: 1280px;
	margin: 0 auto;
}

header ul li {
	font-size: 12px;
	margin-left: 87px;
	display: inline-block;
	list-style: none;
}

header ul li:nth-child(7) {
	line-height: 30px;
	text-align: center;
	width: 100px;
	height: 30px;
}

.head ul li a {
	color: #FFFFFF;
	text-decoration: none;
}

.head ul li a:hover {
	text-decoration: underline;
	font-size: 20px;
}

.head div {
	display: inline-block;
}

header .head {
	position: relative;
	top: -350px;
}

header ul {
	position: relative;
	top: 8px;
}

section {
	margin-top: -100px;
}

section .zsm {
	border: #000000 0px solid;
	width: 1280px;
	margin: 0px auto;
}

section #zsm {
	border: #000000 0px solid;
	width: 1280px;
	margin: 0px auto;
}

section .a {
	background-color: #6495ED;
	color: white;
	width: 200px;
	height: 80px;
	text-align: center;
	line-height: 80px;
}

section .b {
	background-color: #6495ED;
	color: white;
	width: 200px;
	height: 80px;
	text-align: center;
	line-height: 80px;
}

section .c {
	background-color: #6495ED;
	color: white;
	width: 200px;
	height: 80px;
	text-align: center;
	line-height: 80px;
}

section .d {
	background-color: #6495ED;
	color: white;
	width: 200px;
	height: 80px;
	text-align: center;
	line-height: 80px;
}

section #aa {
	display: inline-block;
}

section #bb {
	display: inline-block;
	width: 1070px;
	vertical-align: top;
	position: relative;
}
.bianggeng{
	position: absolute;
	top:15px;
	right: 30px;
	
}
.sectiontuo{
	width: 1070px;
	height: 30px;
	border-bottom: 1px #909399 solid;
}
section .e {
	background-color: #6495ED;
	color: white;
	height: 20px;
	width: 60px;
	line-height: 20px;
	margin-left: 15px;
	margin-top: 15px;
	font-size: 10px;
	
}

section a {
	margin-left: 400px;
	font-size: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #6495ED;
}

section .f {
	color: darkgray;
	margin-left: 20px;
	line-height: 50px;
}

<style type="text/css">* {
	margin: 0;
	padding: 0;
}

header {
	width: 1280px;
	margin: 0 auto;
}

header ul li {
	font-size: 12px;
	margin-left: 87px;
	display: inline-block;
	list-style: none;
}

header ul li:nth-child(7) {
	line-height: 30px;
	text-align: center;
	width: 100px;
	height: 30px;
}

.head ul li a {
	color: #FFFFFF;
	text-decoration: none;
}

.head ul li a:hover {
	text-decoration: underline;
	font-size: 20px;
}

.head div {
	display: inline-block;
}

header .head {
	position: relative;
	top: -350px;
}

header ul {
	position: relative;
	top: 8px;
}

section {
	margin-top: -100px;
}

section .zsm {
	border: #000000 0px solid;
	width: 1280px;
	margin: 0px auto;
}

section #zsm {
	border: #000000 0px solid;
	width: 1280px;
	margin: 0px auto;
}

section .a {
	background-color: #6495ED;
	color: white;
	width: 200px;
	height: 80px;
	text-align: center;
	line-height: 80px;
}

section .b {
	background-color: #6495ED;
	color: white;
	width: 200px;
	height: 80px;
	text-align: center;
	line-height: 80px;
}

section .c {
	background-color: #6495ED;
	color: white;
	width: 200px;
	height: 80px;
	text-align: center;
	line-height: 80px;
}

section .d {
	background-color: #6495ED;
	color: white;
	width: 200px;
	height: 80px;
	text-align: center;
	line-height: 80px;
}

section #aa {
	display: inline-block;
}

section #bb {
	border: solid 1px;
	display: inline-block;
	width: 1070px;
	height: 382px;
	vertical-align: top;
}

section .e {
	background-color: #6495ED;
	color: white;
	height: 20px;
	width: 60px;
	line-height: 20px;
	margin-left: 15px;
	margin-top: 15px;
	font-size: 10px;
}

section a {
	margin-left: 400px;
	font-size: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #6495ED;
}

section .f {
	color: darkgray;
	margin-left: 20px;
	line-height: 50px;
}

section .g {
	padding-top: 20px;
	padding-left: 120px;
	display: inline-block;

}

section ul {
	vertical-align: top;
}

section li {
	color: darkgray;
	font-size: 5px;
}

section .tm {
	text-align: center;
}

footer {
	margin: 0 auto;
}

footer div {
	width: 1280px;
	margin: 0 auto;
	margin-top: 20px;
	color: #fff;
	height: 60px;
	background-color: #0B1631;
	text-align: center;
	line-height: 60px;
}
