*{
	margin:0px;
	padding:0px;
}
section{
	margin-top:40px;
}
.stars{
	width:1280px;
	margin:0px auto;
	font-size:16px;
	line-height:40px;
}
.picture{
	float:right;
	margin-top:70px;
}
.Small{
	width:500px;
	padding-top:20px;
}
.Smal2{
	padding-top:20px;
}
footer{
	margin-top:25px;
}