*{
	margin: 0;
	padding: 0;
}
body{
	
	background-color: #F0F4F7;
}
header{
	margin: 0 auto;
	background-color: #0D4479;
	width:1280px;
	height: 500px;
}
.sye{
	position:relative;
	bottom:10px;
}
.head{
	margin: 0 auto;
	width:1200px;
	height: 70px;
}
.head div:nth-child(2) ul li{
	margin-top: 30px;
	margin-left: 50px;
}
header ul li{
	display: inline-block;
	list-style: none;
}
.head ul li a{
	color:#fff;
	font-weight: bold;
	text-decoration: none;
}
.head ul li a:hover{
	text-decoration: underline;
	font-size: 30px;
}
.head div{
	display: inline-block;
}
.box{
	padding-left:50px;
	padding-top:55px;
	border-radius:5px;
}
.maintain{
	color: #fff;
	margin-left:800px;
	margin-top:-350px;
	line-height:60px;
}
.zhiti{
	border-radius:30px;
	color: #fff;
	margin-left:800px;
	margin-top: 30px;
	width: 120px;
	height:50px;
	line-height: 50px;
	text-align: center;
}
.sect{
	margin: 0 auto;
	margin-top: 35px;
	width: 1280px;
	height: 400px;
}
.sect div{
	margin-left: 300px;
	display: inline-block;
	width: 200px;
	height:250px;
	line-height: 30px;
	background-color: #fff;
	text-align: center;
}
.sect div:nth-child(2){
	margin-left:300px;
	
}
.two{
	font-weight: bold;
	line-height:80px;
	text-align: center;
}
.notice{
	margin: 0 auto;
	width: 1000px;
	height:250px;
	background-color: #fff;
	padding-left:280px;
	line-height:35px;
	
}
.notice a{
	color: #409EFF;
	text-decoration:none;
}
.notice a:hover{
	font-size: 18px;
	text-decoration: underline;
}
footer{
	margin: 0 auto;
	width:1280px;
	height: 100px;
	line-height:100px;
	text-align: center;
}
