*{
	margin: 0;
	padding: 0;
}
img{
	width: 500px;
	height: 300px;
	float: left;
}
.b{
	width: 1000px;
	height: 300px;
	animation: name 4s infinite;
}
.a{
	width: 500px;
	height: 300px;
	overflow: hidden;
}
@keyframes name{
	from{
		transform: translateX(0px);
	}
	to{
		transform: translateX(-500px);
	}
}