* {
	margin: 0;
	padding: 0;
}
.message{
	margin-top: 10px;
	box-shadow: 2px 2px 10px #0796E9;
}
.message .qita div:hover{
	border-radius:50%;
	transform: skew(-15deg);
}
.yiju{
margin-top: 10px;
	box-shadow: 2px 2px 10px #0796E9;	
}
.jiguang{
	margin-top: 10px;
	width: 1180px;
	box-shadow: 2px 2px 10px #0796E9;
}
.jiangjie{
	margin-top: 10px;
	box-shadow: 2px 2px 10px #0796E9;
}
header {
	width: 1180px;
	margin: 0 auto;
}

header ul li {
	font-size: 12px;
	margin-left: 87px;
	margin-top: 20px;
	display: inline-block;
	list-style: none;
}

header ul li:nth-child(7) {
	line-height: 30px;
	text-align: center;
	width: 100px;
	height: 30px;
}

.head ul li a {
	color: #FFFFFF;
	text-decoration: none;
}

.head ul li a:hover {
	text-decoration: underline;
	font-size: 20px;
}

.head div {
	display: inline-block;
}

header .head {
	position: relative;
	top: -350px;
}

header ul {
	position: relative;
	top: 8px;
}

section {
	margin: 0 auto;
	width: 1280px;
	margin-top: -70px;
}

.navigation {
	margin: 0 auto;
	width: 1180px;
	height: 100px;
}

.navigation div {
	display: inline-block;
	width: 170px;
	height: 50px;
	line-height: 50px;
	border-radius: 50px;
	text-align: center;
	border: 1px #07AAFF solid;
}

.last1 {
	background-color: #65BFFF;
}

.navigation img {
	position: relative;
	left: 20px;
	top: 10px;
}

.zhiti {
	padding-left: 50px;
	padding-right: 50px;
	margin: 0 auto;
	text-align: center;
	width: 1180px;
	height: 80px;
	line-height: 80px;
	background-color: #007AFF;
	font-weight: bold;
	font-size: 40px;
	color: #FFF;
}

.gist {
	margin: 0 auto;
	padding: 0px 50px;
	width: 1180px;
	height: 200px;
}

.yiju {
	padding-top: 20px;
	width: 1180px;
	height: 60px;
	border-bottom: 1px #575757 solid;
}

.wengjiang {
	margin-left: 70px;
	margin-top: 30px;
	width: 200px;
	height: 70px;
	line-height: 70px;
	border: 1px red solid;
	text-align: center;
	background-color: #F7F7F7;
}

img,span {
	vertical-align: middle;
}

.abstract {
	margin: 0 auto;
	width: 1180px;
	height: 300px;
	padding: 0px 50px;
}

.jiguang li {
	color: #666666;
	display: inline-block;
	list-style: none;
	width: 200px;
	height: 50px;
	background-color: #F7F7F7;
}

.jiguang ul div {
	display: inline-block;
	margin-top: 30px;
	width: 200px;
	height: 70px;
	line-height: 70px;
	border: 1px red solid;
	text-align: center;
	background-color: #F7F7F7;
	margin-left: 70px;
	margin-bottom: 10px;
}

.jiangjie {
	padding-top: 20px;
	width: 1180px;
	height: 50px;
	margin-bottom: 10px;
	border-bottom: 1px #575757 solid;
}



.message {
	margin: 0 auto;
	width: 1080px;
	height: 300px;
	padding: 0px 50px;
	margin-top: 15px;
}

.qita li {
	color: #666666;
	display: inline-block;
	list-style: none;
	width: 200px;
	height: 50px;
	background-color: #F7F7F7;
}

.qita ul div {
	display: inline-block;
	margin-top: 30px;
	width: 200px;
	height: 70px;
	line-height: 70px;
	border: 1px red solid;
	text-align: center;
	background-color: #F7F7F7;
	margin-left: 50px;
}

.xinxi {
	padding-top: 20px;
	width: 1080px;
	height: 60px;
	border-bottom: 1px #575757 solid;
}

.wengjiang:hover {
	font-size: 20px;
	border: 1px #0D4479 solid;
}

.jiguang div:hover {
	font-size: 20px;
	border: 1px #0D4479 solid;
}

.qita div:hover {
	font-size: 18px;
	border: 1px #0D4479 solid;
}

footer {
	margin: 0 auto;
}

footer div {
	width: 1280px;
	margin: 0 auto;
	margin-top: 20px;
	color: #fff;
	height: 60px;
	background-color: #0B1631;
	text-align: center;
	line-height: 60px;
}
